*{
    font-family: 'product sans';
}

.ql-toolbar.ql-snow{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(19, 19, 19);
    z-index: 100;
    border: rgb(19, 19, 19);
    
    

}
.ql-snow .ql-tooltip{
    background-color: rgb(19, 19, 19);
    border: none;
    box-shadow: none;
    color: white;
}
.ql-snow .ql-tooltip input[type=text]{
    background-color: black;
    color: white;
    border: black;
}




#ql-picker-options-0{
    background-color: black;
    border: none;
    color: white;
}
#ql-picker-options-1{
    background-color: black;
    border: none;
    color: white;
}
#ql-picker-options-2{
    background-color: black;
    border: none;
    color: white;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #c6ff27;
}



.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #c6ff27;
}

#editor{
    color: white;
    border: black ;
    border-left: 0.9rem solid black;
    border-right: 0.9rem solid black;
    
    
    
}

label{
    color: #c6ff27;
}
#author{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#authorBio{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#fb{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#insta{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#linkedin{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#github{
    color: white;
    background-color: rgb(19, 19, 19);
    border: rgb(19, 19, 19);
}
#save{
    background-color: #c6ff27;
    color: black;
    border: #c6ff27;
}
#save:hover{
    background-color: #96c022;
    color: black;
    border: #c6ff27;
}
#read{
    color: #c6ff27;
    border-color: #c6ff27;
}
#read:hover{
    background-color: #c6ff27;
    color: black;
    border-color: #c6ff27;
}
#heading{
    color: #c6ff27;
}

/* footer */

.footer {

    background-color: black;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    
    color: #4b4b4b;
    text-align: center;
  }

  .footer i{
      
    font-size: 150%;
    color: #4b4b4b;
    
}

@media only screen and (max-width: 600px) {
    #heading{
        font-size: 2rem;
    }
  }